@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
body{
    max-height: 100vh;
    overflow: hidden;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-container{
    display: flex;
    flex-direction: column;
    height: 40rem;
    .message-container{
        height: 60%;
        overflow-y: scroll;
        flex-direction: column-reverse;
    }
}
