@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.main-container{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 3fr;
}
