room id es  <%= @room_id %>

<ul>
<%= for message <-  @messages do %>
    <li><%= message %></li>
<% end %>
</ul>

<form phx-submit="send_message">
    <input type="text" name="message" id="message">
    <button type="submit">Mandar mensaje</button>
</form>
