<form action={~p"/login/validate"} method="post">
    <label for="name">Username</label>
    <input type="text" name="name" id="name">
    <label for="name">Contraseña</label>
    <input type="password" name="password" id="password">
    <button type="submit">logear</button>
</form>

<a href={~p"/login/new"}><button type="button">Crear usuario</button></a>
